# Dependencies
node_modules
/.pnp
.pnp.js

# Testing
/coverage
/firebase-data

# Production
/build
/dist

# Misc
.DS_Store
.env
.env.local
.env.development
.env.test.local
.env.production
firestore.rules
storage.rules
.firebase/
/data
firestore-debug.log
functions/firebase-data/
functions/firestore-debug.log
functions/firebase-debug.log

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.cursor
